<style>

</style>

<div class="page-header">
    <h1><%= title %></h1>
</div>


    <div class="icon-list">
        <i class="bx bx-map-pin"></i>
        <i class="bx bx-menu"></i>
        <i class="bx bx-message-rounded"></i>
        <i class="bx bx-phone"></i>
        <i class="bx bx-search-alt"></i>
        <i class="bx bx-send"></i>
        <i class="bx bx-share-alt"></i>
        <i class="bx bx-x"></i>
    </div>