<style>

</style>

<div class="page-header">
    <h1><%= title %></h1>
</div>


    <div class="icon-list">
        <i class="bx bx-menu"></i>
        <i class="bx bx-message-rounded"></i>
        <i class="bx bx-phone"></i>
        <i class="bx bx-search-alt"></i>
        <i class="bx bx-send"></i>
        <i class="bx bx-share-alt"></i>
        <i class="bx bx-x"></i>
        <i class="bx bx-link"></i>
        <i class="bx bx-map"></i>
        <i class="bx bx-send"></i>
        <i class="bx bx-at"></i>
        <i class="bx bx-chart"></i>
        <i class="bx bx-calendar"></i>
        <i class="bx bx-check"></i>
        <i class="bx bx-check-circle"></i>
        <i class="bx bx-envelope"></i>
        <i class="bx bx-sitemap"></i>
        <i class="bx bx-subdirectory-right"></i>
        <i class="bx bx-traffic-cone"></i>
    </div>