<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustUs Management Consulting</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="/logic/main.js" defer></script>
</head>
<body>
    <%- include('./partials/menus/main'); %>
    <%- body %>

    <div id="background" style="background-image: url('/images/background_transparent.png');">
        <img src="/images/lady-justice_2.png" alt="">
    </div>
</body>
</html>